@keyframes ColorGradient {
   10% {
    background-color: #3daada;
   }
   22% {
    background-color: #f62d9f;
   }
   36%{
    background-color: #0d4b03;
   }
   50%{
    background-color: #8f9118;
   }
   62%{
    background-color: #ff353f;
   }
   70%{
    background-color: #3daada;
   }
   96%{
    background-color: #3daada;
   }
}

@keyframes OpacityIn {
   from{
      opacity: 0;
   }
   to {
      opacity: 1;
   }
}