@mixin crosshairBefore {
    &::before {
        content: '';
        display: block;
        background: url('../icons/crosshairs/crosshair_white.png') center center/ cover no-repeat;
        position: absolute;
    }
}

@mixin crosshairAfter {
    &::after {
        content: '';
        display: block;
        background: url('../icons/crosshairs/crosshair_white.png') center center/ cover no-repeat;
        position: absolute;
    }
}

@mixin AfterCircle {
    &::after {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        border: 15px solid #ffcf52;
    }
}