.button {
    background-color: #ec553b;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    transition: 250ms all ease-in-out;
    &-w300 {
        width: 300px;
    }
    &-fsz15 {
        font-size: 15px;
    }
    &:hover {
        text-decoration: none;
        transform: scale(1.09);
        color: #fff;
        text-decoration: underline;
        box-shadow: 3px 7px 0px -3px rgba(0,0,0, .4);
    }
    &_sign {
        width: 140px;
        padding: 9px;
    }
}