.forwhom {
    position: relative;
    &-slider {
        position: relative;
        img {
            width: 100%;
            object-fit: contain;
        }
        .slick-prev, .slick-next {
            border: none;
            background-color: rgba(255,255,255,.0);
            outline: 0;
        }
        // .slick-next
        .slick-prev {
            position: absolute;
            z-index: 300;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
        }
        .slick-next {
            position: absolute;
            z-index: 300;
            top: 50%;
            transform: translateY(-50%);
            right: 50px;
        }
    }
    &-bg {
        top: -3px;
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 1900px;
        z-index: -1;
        
    }
    &-descr {
        &__flex {
            display: flex;
            justify-content: space-between;
        }
        &__flex-1 {
            margin-bottom: 100px;
        }
        &__flex-2 {
            position: relative;
            @include AfterCircle;
            &::after {
                width: 100px;
                height: 100px;
                bottom: -110px;
                right: 30px;
                border: 19px solid #ffcf52;
            }
        }
        &__title {
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            font-weight: 700;
            font-size: 38px;
            margin: 40px 0;
        }
    }
    &-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__text {
            color: #fff;
            font-size: 20px;
        }
        &__img {
            height: 220px;
            margin-bottom: 20px;
            transition: 1100ms all ease-in-out;
            &:hover {
                transform: rotateY(360deg);
            }
        }
    }
    &-item-3 {
        position: relative;
        @include AfterCircle;
        &::after {
            width: 80px;
            height: 80px;
            right: -60px;
            top: -110px;
        }
        &::before {
            content: '';
            position: absolute;
            height: 135px;
            width: 20px;
            background: url('../icons/zig_yellow.svg') center center/ cover no-repeat;
            right: -80px;
            top: 100px;
        }

    }
    &-item-4 {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: #3dada2;
            width: 35px;
            height: 35px;
            left: -105px;
            bottom: 20px;
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            border-radius: 50%;
            background-color: #ffcf52;
            width: 50px;
            height: 50px;
            bottom: -55px;
            left: -60px;
        }
    }
    .advantages-descr_forwhom {
        position: relative;
        margin-top: 200px;
        margin-bottom: 80px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            width: 150px;
            height: 20px;
            background: url(../icons/zig-icon.svg) center center/cover no-repeat;
            top: 15px;
            left: -30px;
        }
        @include crosshairAfter;
        &::after {
        background: url('../icons/crosshairs/crosshair_yellow.svg') center center/ cover no-repeat;
        width: 80px;
        height: 80px;
        bottom: -30px;
        left: 100px;
        }
        .advantages-descr__title {
            position: relative;
            @include crosshairAfter;
            &::after {
                background: url('../icons/crosshairs/crosshair_blue.svg') center center/ cover no-repeat;
                width: 60px;
                height: 60px;
                top: 0;
                right: 100px;
            }
        }
    }
    &-reviews {
        &__title {
            text-align: center;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 38px;
            margin-bottom: 50px;
            margin-top: 150px;
        }
        &__grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: minmax(455px, auto);
            column-gap: 50px;
            row-gap: 20px;
        }
        &__video {
            iframe {
                border: 0;
                width: 100%;
                height: 400px;
            }
        }
        &__text {
            font-size: 20px;
        }
        &__btn {
            margin: 50px auto;
        }
    }
}